@import url("https://fonts.googleapis.com/css?family=Varela+Round");
body, * {
  margin: 0;
  padding: 0;
  font-family: 'Varela Round', sans-serif; }

.page__wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.form__wrapper {
  position: relative;
  background-color: #0c84fc;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .form__wrapper::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-style: solid;
    border-width: 210px 96vw 0 0;
    border-color: white transparent; }
  .form__wrapper::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    bottom: 0;
    border-style: solid;
    border-width: 0 0 210px 96vw;
    border-color: white transparent; }

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto; }

.payment__wrapper {
  position: relative;
  border: 1px solid transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  z-index: 5;
  background-color: white;
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 60px 30px;
  border-radius: 7px; }

.payment__check {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: 500;
  padding-right: 250px;
  font-size: 16px;
  position: relative; }

.payment__check-items, .payment__check-complete {
  margin-top: 40px; }

.check-heading {
  color: #757575; }

.check-price {
  font-size: 24px; }

.item-price, .check-price {
  color: #0c84fc;
  font-weight: 700; }

.check-item {
  display: flex;
  justify-content: space-between;
  color: #353535; }

.complete-button {
  position: relative;
  padding: 5px 35px;
  border-radius: 30px;
  border: 1px solid #0c84fc;
  color: #0c84fc;
  background-color: white; }
  .complete-button:hover {
    color: white;
    background-color: #0c84fc;
    border: 1px solid transparent;
    transition: 0.4s ease-in;
    cursor: pointer; }

.payment__card {
  position: absolute;
  width: 340px;
  box-sizing: border-box;
  height: 217px;
  margin-left: 20px;
  padding: 0px 20px 10px 20px;
  right: -100px;
  background-color: #2f96fc;
  color: white;
  border-radius: 7px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); }

.card-logo {
  width: 50px;
  height: auto; }

.logo-hidden, .error-hidden {
  display: none; }

.payment__card-holder, .card-information {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.payment__card-holder {
  height: 50px; }

.card-number {
  padding-bottom: 20px;
  position: relative; }

.payment__card-form .card-input, .payment__card-form .expiration-select {
  background-color: #43a0fd;
  border: 0px solid transparent;
  color: white;
  text-align: center; }

.expiration-ccv {
  background-color: #43a0fd;
  border: 0px solid transparent;
  color: white;
  text-align: center;
  width: 40px;
  height: 23px; }

.card-label {
  font-weight: 100;
  font-size: 11px;
  color: #cecece; }

.expiration-select {
  height: 25px;
  width: 70px;
  padding-left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.card-number > .card-input {
  width: 225px;
  height: 28px;
  font-size: 16px; }

.card-input::-webkit-outer-spin-button, .card-input::-webkit-inner-spin-button {
  -webkit-appearance: none; }
.card-input[type='number'] {
  -moz-appearance: textfield; }
.card-input::placeholder {
  color: white; }

.card-error {
  font-size: 13px;
  color: #d32626;
  position: absolute;
  bottom: 0;
  font-weight: 600; }

@media (max-width: 645px) {
  .payment__wrapper {
    padding: 20px; }

  .payment__check {
    padding-right: 0; }

  .payment__card {
    position: static;
    margin-left: auto;
    margin-right: auto; }

  .payment__check-complete, .payment__check-items, .payment__check-complete, .payment__card {
    margin-top: 20px; } }
@media (max-width: 490px) {
  .payment__wrapper {
    width: 350px; }

  .form__wrapper::before {
    border-width: 150px 93vw 0 0; }
  .form__wrapper::after {
    border-width: 0 0 150px 93vw; } }

/*# sourceMappingURL=style.css.map */
